@import url(//fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Montserrat);

body {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Merriweather', Georgia, Times;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Merriweather', Georgia, Times;
	font-weight: 700;
	margin-top:30px;
}

/* All */
.info, .notes, .contact, .about, .error {
	margin-bottom: 30px;
}
.info, .note, .contact, .about, .error {
	width: 85%;
	margin: 0 auto;
	line-height: 26px;
}

/* Text styles */
.coauthor {
	color: #888;
	font-weight: 300;
	font-size:90%;
	padding-left:3px;
}

.abstract {
	margin-left:30px;
	font-size:95%;
}

/* Masthead */
.header h3 {
	font-family: 'Merriweather', Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-weight: bold;
	text-transform: none;
}

.header, .footer {
	font-family: 'Montserrat', Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

/* Navigation */
h3.text-muted a {
	text-decoration: none;
	color: #AF3618;
}
h3.text-muted a:hover {
	text-decoration: none;
	color: #911800;
}

img.avatar { margin-bottom: 30px; }
		
/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer { margin-bottom: 15px; }

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

/* Jumbotron */     
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; }
.marketing p.lead { line-height: 30px; }

/* Notes */
.notelist { width: 600px; margin: 0 auto; }
ul.listnotes { margin: 0 auto; }
ul.listnotes li {line-height: 30px; } 

/* Note */
.note h2.date { font-size: 24.5px; font-weight: 300; font-style: italic; }

/* Contact */
iframe {font-family: 'Merriweather', Georgia, Times; font-size: 16px;}

/* About */
.about ul.list-unstyled li { line-height: 30px; text-indent: -30px; margin-left: 30px;}
.about ul.list-bullet li { line-height: 30px; text-indent: 0px; margin-left: 30px;}

/* Social Buttons */
.social-button {
	height:15px;
	width:15px;
	margin-left: 5px;
}

#linkedin-logo {
    fill: #AF3618;
}

.social-button:hover #linkedin-logo {
    fill: #911800;
}
