<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" width="device-width, initial-scale=1.0">
		<meta name="description" content="P.Eng.">
		<meta name="author" content="Gordon Pratt">
		<!-- favicon
		<link rel="shortcut icon" href="/img/ico/favicon.png">
		-->
		<title>{{ page.title }}</title>		
		<!-- styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    	<![endif]-->	
	</head>
	<body>
		<div class="container">
		
			{% include header.html %}
			
			{{ content }}
			
			<div class="footer">
				<div class="row">
				<div class="col-sm-8">
					<small><a href="mailto:gordon@prattaero.com" target="_blank">Contact</a></small>
					<a href="mailto:gordon@prattaero.com" target="_blank"><span class="social-button glyphicon glyphicon-envelope" title="Email" aria-hidden="true"></span></a>
					<a href="https://ca.linkedin.com/in/gordonapratt"><img src="/img/LinkedIn_button.svg" class="svg social-button" title="LinkedIn"></a>
				</div>
				<div class="col-sm-4">
				<p class="pull-right"><small><a href="/site" title="About this site">About this site</a></small></p>
				</div>
				</div>
			</div> <!-- /footer -->
		
		</div> <!-- /container -->
	
	
		<!-- javascript at the end of the doc so page loads faster -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="/js/replace-svg-inline.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/library.js"></script>

		<!-- visitor tracking and analytics -->
		{% include analytics.html %}
		
	</body>

</html>
